<header id="header" class="header sticky-top">
  <!-- Top Bar -->
  <div class="top-bar">

  </div>

  <!-- Main Header -->
  <div class="main-header">
    <div class="container-fluid container-xl">
      <div class="d-flex py-3 align-items-center justify-content-between">

        <!-- Logo -->
        <a [routerLink]="['/home']">
          <img src="logo.png" alt="Fashion Store Logo" class="logo">
        </a>

        <!-- Search -->
        <form class="search-form desktop-search-form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="ابحث عن المنتجات">
            <button class="btn" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>

        <!-- Actions -->
        <div class="header-actions d-flex align-items-center justify-content-end">
          <button class="header-action-btn" (click)="toggleDarkMode()" type="button" title="Toggle Dark Mode">
            <i class="bi"
              [ngClass]="{'bi-sun': !this.themeService.IsLightMode(), 'bi-moon': this.themeService.IsLightMode()}"></i>
          </button>
          <!-- Mobile Search Toggle -->
          <button (click)="SSB()" class="header-action-btn mobile-search-toggle d-xl-none" type="button"
            data-bs-toggle="collapse" data-bs-target="#mobileSearch" aria-expanded="false" aria-controls="mobileSearch">
            <i class="bi bi-search"></i>
          </button>

          <!-- Account -->
          <div class="dropdown account-dropdown">
            <button (click)="SAD()" class="header-action-btn" data-bs-toggle="dropdown">
              <i class="bi bi-person"></i>
            </button>
            <div class="dropdown-menu" [ngClass]="{'show': ShowAccountDropdown()}">
              <div class="dropdown-header">
                <h6>Welcome to <span class="sitename">FashionStore</span></h6>
                <p class="mb-0">Access account &amp; manage orders</p>
              </div>
              <div class="dropdown-body">
                <a class="dropdown-item d-flex align-items-center" [routerLink]="['/account']">
                  <i class="bi bi-person-circle mx-2"></i>
                  <span>My Profile</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" [routerLink]="['/account/orders']">
                  <i class="bi bi-bag-check mx-2"></i>
                  <span>My Orders</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" [routerLink]="['/account/wishlist']">
                  <i class="bi bi-heart mx-2"></i>
                  <span>My Wishlist</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" [routerLink]="['/account/settings'] ">
                  <i class="bi bi-gear mx-2"></i>
                  <span>Settings</span>
                </a>
              </div>
              <div class="dropdown-footer">
                <a [routerLink]="['/login']" class="btn btn-primary w-100 mb-2">Sign In</a>
                <a [routerLink]="['/register']" class="btn btn-outline-primary w-100">Register</a>
              </div>
            </div>
          </div>

          <!-- Wishlist -->
          <a [routerLink]="['/account/wishlist']" class="header-action-btn ">
            <i class="bi bi-heart"></i>
            <span class="badge">0</span>
          </a>

          <!-- Cart -->
          <a [routerLink]="['/cart']" class="header-action-btn">
            <i class="bi bi-cart3"></i>
            <span class="badge">3</span>
          </a>

          <!-- Mobile Navigation Toggle -->
          <i (click)="SMN()" class="mobile-nav-toggle bi bi-list me-0"></i>

        </div>
      </div>
    </div>
  </div>


  <!-- Navigation -->
  <div class="header-nav">
    <div class="container-fluid container-xl position-relative">
      <nav id="navmenu" class="navmenu">
        <ul>
          @for (item of NavUrls; track $index) {
          <li><a [routerLink]="item.Path" routerLinkActive="active" class="nav-link">{{item.Title}}</a>
          </li>
          }
        </ul>
      </nav>
    </div>
  </div>

  <!-- Mobile Search Form -->
  <div class="collapse" [ngClass]="{'show': ShowSearchBox()}" id="mobileSearch">
    <div class="container">
      <form class="search-form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="ابحث عن المنتجات">
          <button class="btn" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Mobile Navigation -->
  <div class="header-nav-mobile d-none " [ngClass]="{'d-block:': ShowMobileNav(), 'd-none': !ShowMobileNav()}">
    <div class="container-fluid container-xl position-relative">
      <nav id="navmenu" class="navmenu">
        <ul>
          @for (item of NavUrls; track $index) {
          <li><a [routerLink]="item.Path" routerLinkActive="active" class="nav-link">{{item.Title}}</a>
          </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</header>